<table class="table">
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>LOCATION</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'spree/shared/prizes/candidates/candidate', collection: @candidates %>
  </tbody>
</table>
